.home h1,
.home h2 {
  display: none;
}
.home .entry-header,
.home .entry-footer {
  display: none;
  margin-bottom: 0;
}
.home article {
  margin-top: 0;
  padding: 0;
}
.home main {
  padding: 0;
  border: 6px solid #fff;
  margin-bottom: 0;
}
.home .entry-footer {
  display: none;
}
.home .pr-3 {
  padding: 0 !important;
}

.panel a {
  display: block;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 1rem;
  border-bottom: 1px dotted #248543;
  color: #248543;
}
.panel a:hover {
  text-decoration: none;
}

/* Blink */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  font-weight: 100;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* Question */
.question {
  cursor: pointer;
  position: absolute;
  top: 50vh;
  right: 10%;
  font-size: 28px;
  padding: 1rem;
  background-color: rgba(255,255,255,0.75);
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.question p {
  margin-bottom: 0;
}

/* Navbar */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.navbar-brand .img {
  height: 100%;
  width: auto;
}
#navbarCollapse.display-none {
  display: none !important;
}
.home .navbar-brand svg {
  transition: all 1.2s ease-in-out;
}

/* Panel */
.panel {
  padding: 0;
  flex-basis: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  height: calc( 100vh - 112px );
}
.panel .img {
  width: 200%;
  max-width: 200%;
  height: auto;
}
.panel.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  border-right: 6px solid #fff;
}
.panel.background-image:last-of-type {
  border-right: none;
}
.panel:hover.background-image {
  width: 100% !important;
}
.panel p {
  position: relative;
}
.panel:hover {
  flex-basis: 200%;
}
.panel .hidden {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  padding: 2rem;
  color: #000;
  background-color: rgba(255,255,255,0.75);
}
.panel:hover .hidden {
  display: block;
}

@media (min-width:768px) {
  .panel .hidden {
    transition: all 0.2s ease-in-out;
    max-width: 300px;
    margin-left: -300px;
    visibility: hidden;
  }
  .panel:hover .hidden {
    margin-left: 0;
    visibility: visible;
  }
  .panel.background-image {
    background-size: initial;
  }
}
