body {
  padding-top: 50px !important;
  margin-bottom: 0 !important;
  font-family: "Lato";
}
nav {
  border-bottom: 1px solid #aab33e;
  height: 50px;
}
main {
  font-size: 1.25rem;
  float: left;
  top: 50px;
  min-height: calc( 100vh - 100px );
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 5rem;
}
.list-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
}
.list-group li {
  flex-basis: 100%;
}
footer {
  min-height: 50px;
}
footer p {
  width: 100%;
  text-align: center;
}
footer a {
  color: white !important;
}
h1 {
  display: inline-block;
  border-bottom: 2px solid #a59fad;
  margin: 1.5rem 0;
  padding: 1rem 0 !important;
  font-family: "Encode Sans";
  font-weight: 700;
  letter-spacing: 0.2rem;
}
main.container {
  float: none;
}
.navbar {
  padding: 5px;
}
.navbar-brand-name {
  margin-left: 1rem;
  font-size: 1rem;
}
.post-thumbnail {
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc( 100vh - 112px );
  overflow: hidden;
  border: 6px solid #fff;
  min-height: 0 !important;
  box-sizing: content-box;
}
.page .hentry.has-post-thumbnail {
  padding-left:5rem;
  padding-right: 5rem;
}
.has-post-thumbnail.portrait {
  margin-left: 0;
}

.peak-green {
  color: #339345;
}
.bg-peak-green {
  background-color: #339345;
}
.peak-gold {
  color: #b0c636;
}
.bg-peak-gold {
  background-color: #b0c636;
}
.peak-grey {
  color: #4d4d4d;
}
.bg-peak-grey {
  background-color: #4d4d4d;
}
.peak-purple {
  color: #4b2d7a;
}
.bg-peak-purple {
  background-color: #4b2d7a;
}
.peak-magenta {
  color: #7e2984;
}
.bg-peak-magenta {
  background-color: #7e2984;
}
.peak-tiffany-blue {
  color: #79c9c8;
}
.bg-peak-tiffany-blue {
  background-color: #79c9c8;
}

@media (min-width:768px) {
  .list-group li {
    flex-basis: 50%;
    border-radius: 0 !important;
  }
  .list-group li:nth-of-type(2n) {
    border-left: none;
  }
  .post-thumbnail {
    position: fixed;
    width: 30%;
  }
  .page .hentry.has-post-thumbnail {
    padding-left: calc( 30% + 5rem );
  }
}
@media (max-width:767px) {
  .page .hentry.has-post-thumbnail {
    padding: 2rem;
    clear: both;
  }
  .post-thumbnail {
    margin: 0 auto !important;
    float: none !important;
    max-height: calc( 90vh - 100px - 2rem );
  }

  .page main .float-left {
    width: 100% !important;
  }

  .has-post-thumbnail header {
    position: absolute;
    top: 20vh;
    background-color: rgba(255, 255, 255, 0.75);
  }
}
